.container {
  width: 500px;
  display: flex;
}
.container .sl0 {
  width: 250px;
}
.container .sl1 {
  width: 100px;
}
.container .sl2 {
  flex-grow: 1;
}

.containerInput {
  width: 500px;
  display: flex;
}
.containerInput .sl0 {
  width: 150px;
}
.containerInput .sl1 {
  width: 80px;
}
.containerInput .sl2 {
  width: 50px;
}
.containerInput .sl3 {
  flex-grow: 1;
  
}

/* https://css-tricks.com/dont-overthink-flexbox-grids/ */
.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}


@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

svg g.tooltip text {
  display: none;
}

svg g.tooltip:hover text {
  display: block;

}